.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 17px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 17px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    padding: 17px 40px 120px 17px;
    margin-left: 17px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 7px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 13px 0px 0px 7px;
}
.row {
    /* TODO - what should go here? */
    display: flex;
}

